main ul {
  list-style: none;
  padding: 0;
}

main span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
}

main li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

main span {
  border: 0.2em solid black;
}
